.barra-superior {
    position: fixed;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    min-height: var(--altura-barra-superior); 
    background: var(--cor-primaria);
    z-index: 10;
    /* box-shadow: 0px 1px 20px 20px lightgrey; */
}

/* Barra de pesquisa */

#barra-pesquisa{
    flex-grow: 2;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    align-items: left;
    height: calc(var(--altura-barra-superior) * 0.6);
    background-color: lightgrey;
    border-radius: 10px;
}

#pesquisar {
    flex:content;
    background-color: white ;
    border-radius: 10px 0px 0px 10px;
    margin-right: 1px;
    border: none;
}

.btn-filtrar {
    background-color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    transition: 200ms;
}

.btn-filtrar:hover {
    background-color: lightgrey;
    transition: 100ms;
}

.menu-nav {
    border-radius: 50%;
    background-color: var(--cor-secundaria);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    aspect-ratio: 1/1;
    margin: 10px;
    padding: 2px;
    transition: background-color 300ms;
}

.menu-nav:hover {
    background-color: rgb(190, 130, 94);
}

.drop-nav {
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-primaria);
    transform: translateY(10px);
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}

.item-drop-nav {
    padding: 5%;
    margin-top: 8px;
    border-radius: 10px;
    color: white;
    transition: background-color, 300ms;
}

.item-drop-nav:hover {
    background-color: var(--cor-secundaria);
}


