
.item-tenis {
    background-color: var(--cor-contraste); 
    position: relative;
    width: 50%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 200px;

    min-width: 180px;
    min-height: 250px;


    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;

    margin: 10px;
    border-radius: 6px;
    box-shadow: 16px 17px 34px -7px rgba(191,191,191,1);


    transition: transform 300ms;
    cursor: pointer;
}

.item-tenis:hover {
    transform: scale(1.1);
}


#image-tenis {
    aspect-ratio: 16/9;
    max-width: 150px;
    max-height: 120px;

    min-width: 120px;
    min-height: 100px;

    border-radius: 20px;
    object-fit: cover;

    align-self: center;

    padding: 10px;
}

#desc {
    margin: 6px;
}

.propriedade-tenis {
    color: white;
    padding: 1%;
    margin-bottom: 0.2em;
    padding: 2px;
}


.compartilhar {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rebeccapurple;
    margin: 10px;
    padding: 5px;
    transition: 300ms background-color;
}

.compartilhar:hover {
    background-color: purple;
    cursor: pointer;
}

.star {
    width: 10%;
    filter: invert(77%) sepia(75%) saturate(520%) hue-rotate(3deg) brightness(95%) contrast(100%);
}

.nota {
    flex-direction: row;
    align-items: center;
    
}