
.container-bem-vindo {
    /* border: solid black 2px; */
    height: 100%;
    width: 90vw;
    margin: 5vw;
    margin-top: 0;
    overflow: hidden;
    max-height: 60vh;
    /* display: flex; */
}

.titulo {
    background-color: orangered;
    margin: 0;
    padding: 30px;
    width: 100%;
    border-radius: 0px 20px;
    color: white;
}

#img-tela {
    transform: translate(100%, -25%) ;
    width: 50%;
    height: 50%;
    border-radius: 0px 0px 20px 20px;
    object-fit: cover;
}
