body{
    height: 0;
}
html { 
    height: 100%;
    width: 100%;
}

.barra {
    min-height: var(--altura-barra-superior);
    
}

.tela {
    background-color: red;
    height: 100%;
    width: 100%;
}

.container-content{
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  margin: 10px;
  gap: 1%;
}

.container-slide {
  grid-column: 1/8;
  width: 100%;
  padding-top: 20px;
}

.container-descricao {
  background-color: orange;
  border-radius: 25px;
  grid-column: 8/15;
  grid-row: 1/2;
  padding: 5px;
}

.slider{
  margin: 0 auto;
  width: 600px;
  height: 300px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 600px;
  border-radius: 20px;
}

.manual-navigation{
  position: absolute;
  width: 600px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #FFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#slider-1:checked ~ .first{
  margin-left: 0;
}

#slider-2:checked ~ .first{
  margin-left: -25%;
}

#slider-3:checked ~ .first{
  margin-left: -50%;
}

#slider-4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
}

.navigation-auto{
  position: absolute;
  width: 600px;
  margin-top: 260px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#slider-1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#slider-2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#slider-3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

#slider-4:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}

.subtitulo{
  font-weight: bold;
}

.nome{
  text-align: center;
}



.container-nota {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.container-nota:before,
.container-nota:after {
  content: "";
  display: relative;
  position: absolute;
  top: 50%;
  width: 68%;
  height: 10px;
  background-color: orange;
}

.container-nota:before {
  left: -40%;
}

.container-nota:after {
  right: -40%;
}

.estrela {
  display: flex;
  justify-content: center; 
}

.estrela:hover{
  transform: scale(1.09, 1.09);
}

.star{
  width: 80px;
  filter: invert(77%) sepia(75%) saturate(520%) hue-rotate(3deg) brightness(95%) contrast(100%);
}

.preco{
  color: rgb(255, 255, 255);
}

.num-preco{
  font-size: 40pt;
}

.preco-p:hover{
  transform: scale(1.8, 1.8) translateX(8%);
}

.tabela-container {
  padding: 0 20px 20px 20px;
  width: 90%;
}
.tabela-container h2  {
  color: orange;
}

.vertical-table th{
  background-color: orange;
  color: white;
}

.vertical-table {
  border-collapse: collapse;
  width: 100%;
}

.vertical-table th,
.vertical-table td {
  border-bottom: 1px solid orange;
  padding: 8px;
  text-align: left;
}

.vertical-table th{
  border-right: 1px solid orange;
  width: 20%;
}


@media screen and (max-width: 1230px) {
  .container-nota{
    max-width: 2000px;
  }
  .star{
    width: 65px;
  }
  .container-nota:before,
.container-nota:after {
  width: 60%;
}

  .container-content{
      float: none;
      display: block;
      width: 100%;
      margin: 0;
  }
  .container-slide{
    display: inline-block;
  }
  .container-descricao{
      display: inline-block;
      margin: 1px 5px 10px 5px;
      padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .slider{
    margin: 0 auto;
    width: 500px;
    height: 260px;
    overflow: hidden;
  }
  .slides{
    width: 400%;
    height: 220px;
    display: flex;
  }
  
  .slide img{
    width: 500px;
    border-radius: 20px;
  }
  .manual-navigation{
    position: absolute;
    width: 500px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .slider{
    margin: 0 auto;
    width: 400px;
    height: 210px;
    overflow: hidden;
  }
  .slides{
    width: 400%;
    height: 220px;
    display: flex;
  }
  
  .slide img{
    width: 400px;
    border-radius: 20px;
  }
  .manual-navigation{
    position: absolute;
    width: 400px;
    margin-top: -55px;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto{
    position: absolute;
    width: 400px;
    margin-top: 165px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .slider{
    margin: 0 auto;
    width: 300px;
    height: 160px;
    overflow: hidden;
  }
  .slides{
    width: 400%;
    height: 220px;
    display: flex;
  }
  
  .slide img{
    width: 300px;
    border-radius: 20px;
  }
  .manual-navigation{
    position: absolute;
    width: 300px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto{
    position: absolute;
    width: 300px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 990px) {
  .container-nota{
    max-width: 2000px;
  }
  .star{
    width: 55px;
  }
  .container-nota:before,
.container-nota:after {
  width: 55%;
}
}

@media screen and (max-width: 750px) {
  .container-nota{
    max-width: 2000px;
  }
  .star{
    width: 50px;
  }
  .container-nota:before,
  .container-nota:after {
  width: 50%;
}
}

@media screen and (max-width: 550px) {
  .container-nota{
    max-width: 2000px;
  }
  .star{
    width: 45px;
  }
  .frase-nota{
    padding: 0 50px 0 50px;
    font-size: 10pt;
  }
  .container-nota:before,
  .container-nota:after {
  width: 50%;
}
}

@media screen and (max-width: 390px) {
  .container-nota{
    max-width: 2000px;
  }
  .star{
    width: 40px;
  }
  .frase-nota{
    padding: 0 50px 0 50px;
    font-size: 10pt;
  }
  .container-nota:before,
  .container-nota:after {
  width: 50%;
}
}