body{
    height: 0;
}
html { 
    height: 100%;
    width: 100%;
}

.barra {
    min-height: var(--altura-barra-superior);
    
}

.tela {
    background-color: red;
    height: 100%;
    width: 100%;
}