.space {
    min-height: var(--altura-barra-superior);
    max-height: var(--altura-barra-superior);
}

.container-content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    margin: 10px;
    gap: 1%;
}

.perfil-container {
    background-color: #ff8100;
    grid-column: 1/7;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    margin: 0px 0px 0px 20px;
}

.comentarios-container {
    grid-column: 7/15;
    grid-row: 1/4;
    margin-left: 20px;
}

/* perfil-container */

.perfil-foto {
    margin-bottom: 10px;
    margin-top: 6px;
}

.user-foto {
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.perfil-cardname {
    margin-bottom: 10px;
    display: block;
}

.perfil-nome {
    font-size: 18pt;
    color: white;
}

.perfil-icons {
    margin-bottom: 10px;
    display: block;
}



.perfil-descricao {
    margin-bottom: 12px;
    display: block;
}

.perfil-localizacao {
    margin-bottom: 12px;
    display: block;
}

.containerlocal {
    display: inline-flex;
    align-items: center;
}

.descricao-localizacao {
    margin-left: 6px;
}

.perfil-descricao-p{
    padding: 0 30px 0 30px;
}

.container-btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-edit-profile {
    margin: 0 auto;
    color: black;
    font-size: 10px;
    border: none;
    border-radius: 5px;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 20px;
    padding: 12px;
    margin: 20px;

    /* background: -webkit-linear-gradient(to left, , var(--cor-secundaria));
        background: -o-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria));
        background: -moz-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria)); */
    /* background: linear-gradient(to left, #bebebe, #ffffff); */
    background: linear-gradient(to right,  #e4ed36, #e3e973);
    box-shadow: 4px 4px 10px #844e084f;
    transition: 200ms;

}

.btn-edit-profile:hover {
    transition: 200ms;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

@media screen and (max-width: 1230px) {
    .user-foto {
        margin-top: 5px;
        
    }

    .container-content {
        float: none;
        display: inline-block;
    }

    .li-lista-comentario {
        margin-right: 7px;
        margin-left: 5px;
    }

    .perfil-container {
        width: 99%;
        margin: 8px 0px 10px 4px;
    }

    .comentarios-container {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .container-content {
        float: none;
        display: block;
        padding-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container-content {
        float: none;
        display: block;
        padding-left: 0px;
    }
}

.titulo-comentario {
    margin-bottom: 6px;
    margin-top: 8px;
    font-size: 20pt;
    color: #ff8100;
}

.lista-comentario {
    list-style: none;
}

.li-lista-comentario {
    align-items: center;
    margin-bottom: 8px;
}

.comentario-user {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    border-color: #ff8100;
    border-radius: 6px;
    border-style: solid;
    border-width: 4px;
    background-color: #ff8100;
    transition: 200ms;
}

.comentario-user:hover {
    transform: scale(1.01, 1.03);
    transition: 200ms;
}

.cabecalho-comentario {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}


.calcado-review-user {
    text-decoration: none;
    color: white;
    font-size: 18pt;
    display: flex;
}

.calcado-review-user:hover {
    transform: scale(1.03, 1.03);
    text-decoration: underline;
}

.descricao-comentario {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
}