.barra-superior {
    /* position: absolute; */
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    min-height: var(--altura-barra-superior); 
    background: var(--cor-primaria);
}

/* Barra de pesquisa */

#barra-pesquisa{
    flex-grow: 2;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    align-items: left;
    height: calc(var(--altura-barra-superior) * 0.6);
    background-color: lightgrey;
    border-radius: 10px;
}

#pesquisar {
    flex:content;
    background-color: white ;
    border-radius: 10px 0px 0px 10px;
    margin-right: 1px;
    border: none;
}

#btn-filtrar {
    background-color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    transition: 200ms;
}

#btn-filtrar:hover {
    background-color: lightgrey;
    transition: 100ms;
}

.menu-nav {
    height: calc(var(--altura-barra-superior) * 0.60);
    border-radius: 50%;
    background-color: var(--cor-secundaria);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 10px;
    padding: 2px;
    transition: filter 300ms;
}

.menu-nav:hover {
    filter: brightness(1.2);
}


