.barra-superior {
    position: absolute;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    min-height: var(--altura-barra-superior); 
    background: var(--cor-primaria);
}


#barra-pesquisa{
    flex-grow: 2;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    align-items: left;
    height: calc(var(--altura-barra-superior) * 0.6);
    background-color: lightgrey;
    border-radius: 10px;
}

#pesquisar {
    flex:content;
    background-color: white ;
    border-radius: 10px 0px 0px 10px;
    margin-right: 1px;
    margin-bottom: 2px;
    border: none;
}

#btn-filtrar {
    background-color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-right: 2px;
    margin-bottom: 2px;
    transition: 100ms;
}

#btn-filtrar:hover {
    background-color: lightgrey;
    transition: 100ms;
}

.menu-nav {
    width: 10px;
    height: 10px;
    background-color: red;
}

.items-barra-superior {
    background-color: blue;
    margin: 3px;
    text-align: center;
}

