* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: blue;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width:100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 15px;
    background-color: var(--cor-primaria);

    overflow: hidden;
}

.wrap-login {
    width: 390px;
    background-color: white;
    border-radius: 10px;

    overflow:hidden;
    padding: 55px 55px 33px 55px;

    box-shadow: 0 5px 10px 0px var(--cor-secundaria);
    animation-duration: 500ms;
    animation-name: mudar-login;
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-size: 30px;
    color: rgb(129, 96, 36);

    line-height: 1.2;
    text-align: center;
}

.login-form-title img {
    width: 150px;
    margin-top: 15px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid orangered;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: gold;
    line-height: 1.2;
    border: none;
    display: block;

    width: 100%;
    height: 45px;

    background-color: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: goldenrod;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    /* background: -webkit-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria));
    background: -o-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria));
    background: -moz-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria)); */
    background: linear-gradient(to left,  #e2f0a6, #c2ec07 );
}

.focus-input::after {
    font-size: 15px;
    color: rgb(89, 89, 12);
    line-height: 1.2;

    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;

    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus + .focus-input::after {
    top: -15px;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val + .focus-input::after {
    top: -15px;
}

.has-val + .focus-input::before {
    width: 100%;
}

.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1px;

}

.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: rgb(112, 98, 20);

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    /* background: -webkit-linear-gradient(to left, , var(--cor-secundaria));
    background: -o-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria));
    background: -moz-linear-gradient(to left, var(--cor-contraste), var(--cor-secundaria)); */
    background: linear-gradient(to left,  #e2f0a6, #c2ec07 );
}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.text1{
    font-size: 15px;
    color: rgb(255, 77, 0);
    line-height: 1.5;
    padding-right: 4px;
    text-decoration: none;
}

.text2{
    font-size: 15px;
    color: rgb(255, 30, 0);
    line-height: 1.5;
    text-decoration: none;
}

.voltar {
    color: var(--cor-realce2);
}




/* FORM CADASTRO */

.wrap-cadastro{
    width: 1000px;
    background-color: white;
    border-radius: 10px;

    overflow:hidden;
    padding: 55px 55px 33px 55px;

    box-shadow: 0 5px 10px 0px var(--cor-secundaria);

    animation-duration: 500ms;
    animation-name: mudar-cadastro;
}

.titulo-genero {
    margin-bottom: 13px;
}

.input-btn{
    margin-right: 4px;
}

.input-p{
    margin-bottom: 8px;
}

.label-radio {
    margin-right: 20px;
}

.wrap-input-cadastro {
    width: 90%;
    position: relative;
    border-bottom: 2px solid orangered;
    margin: 0 auto;
    margin-bottom: 45px;
}


/* TRANSIÇÃO */

@keyframes mudar-login {
    
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}

@keyframes mudar-cadastro {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
    
}