.App {
    display: flex;
    flex-direction: column;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    margin-top: var(--altura-barra-superior);
}

.tela-bem-vindo {
    padding: 10px;
}

