:root {
    --altura-barra-superior: 60px;
    --cor-primaria: #e48c28;
    --cor-secundaria: #FFC6AD;
}

body, html {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.icon {
    height: calc(var(--altura-barra-superior) * 0.6);
}


.flex0 {
    flex-grow: 0;
}

.flex1 {
    flex-grow: 1;
}

.flex2 {
    flex-grow: 2;
}
