.App {
    display: flex;
    flex-direction: column;
}

.conteudo {
    margin-top: var(--altura-barra-superior);
}

.dark{
    background-color: darkmagenta;
}

.light{
    background-color: white;
}
.tela-bem-vindo{
    margin-bottom: 90px;
}