.main-container {
    margin: 2vw;
}

.comentario-texto {
    max-width: 800px;
    padding: 4px 2px 2px 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.container-align-coment {
    display: flex;
    margin-top: 2px;
    width: 80%;
}

.buttons-coment {
    display: flex;
    align-items: center;
}

.button {
    background: none;
    cursor: pointer;
    border: none;
    margin-left: 4px;
}

.button+.button {
    margin-left: 5px;
}

.img-button {
    width: 35px;
}

.responder{
    width: 25px;
    margin: 0;
}

.excluir{
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}

.text-excluir{
    color: red;
    font-size: 8pt;
    font-weight: bold;
}

.excluir-button{
    display: flex;
    align-items: center;
    position: relative;
}

.excluir-button::before { 
    content: '';
    position: absolute;
    margin-top: 3px;
    top: 50%;
    left: -10px; 
    width: 80%; 
    height: 1px; 
    background-color: red; 
    transform: translateY(-50%); 
}

.excluir-btn{
    margin-left: 80%;
}

.text-align-excluir{
    margin: 0;
}

.button:hover {
    transform: scale(1.1, 1.1);
}

.container-comentario-init {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sub-comentario {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    transform: translateX(10px);
    padding: 5px;
    border: solid 2px var(--cor-primaria);
}

.title-coment {
    color: var(--cor-primaria);
    margin-bottom: 4px;
}

.reply {
    min-height: 35px;
    margin-bottom: 3px;
    border-radius: 8px;
    border: 2px solid var(--cor-secundaria);
    padding: 5px;
    width: 80%;
    color: #ffbe6f;
}

.reply-init {
    min-height: 35px;
    margin-bottom: 3px;
    border-radius: 8px;
    border: 2px solid var(--cor-secundaria);
    padding: 5px;
    min-width: 90%;
    color: #ffbe6f;
}

.reply::placeholder,
.reply-init::placeholder {
    color: #f7ce9d;
}

.container-coment-init{
    width: 100px;
}
.button-coment-init {
    font-size: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-top: 2px;
    padding-right: 2px;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 82px;
    height: 23px;

    background: linear-gradient(to left, var(--cor-contraste), #fe7d38);
}

.button-coment-init:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.button-ocultarmostrar{
    font-size: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin: 2px 2px 8px 0;
    padding-right: 2px;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 105px;
    height: 25px;

    background: linear-gradient(to left, var(--cor-contraste), #ff0000);
}

.button-ocultarmostrar:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.img-button {
    width: 28px;
}

.button-text-mostrar {
    font-size: 9pt;
    border: none;
    bottom: unset;
    color: var(--cor-primaria);
    font-weight: bold;
    margin-top: 2px;

    line-height: 1.2;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 100px;
    height: 22px;

    background: none;
}

.button-text-mostrar:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.container-comentario {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-top: 8px;
    border: solid 1px var(--cor-secundaria);
    border-radius: 10px;
    background-color: rgb(253, 243, 227);
    padding: 7px;
}

.img-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comentario-texto-info {
    flex: 1;
}

.comentario-texto-titulo {
    font-weight: bold;
    color: var(--cor-primaria);
}

.comentario-texto-titulo:hover {
    color: var(--cor-secundaria);
    cursor: pointer;
}

.replycoment-comentario {
    margin-bottom: 50px;
}

.opcoes-mensagens{
    width: 90%;
}

.replycoment-comentario-sub {
    margin-bottom: 30px;
    transform: translateX(25px);
}

@media (max-width: 920px) {
    .comentario-texto {
      font-size: 14px; 
      width: 500px;
    }
    
    .excluir-button::before { 
        width: 80%;
    }
    
    .excluir-btn{
        margin-left: 80%;
    }
  }

  
  @media (max-width: 610px) {
    .comentario-texto {
      font-size: 12px; 
      width: 230px;
    }
    
    .excluir-button::before { 
        width: 60%;
    }
    
    .excluir-btn{
        margin-left: 60%;
    }

    .comentario-texto-titulo {
        font-size: 14px;
    }
  }